* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.movie-thumb {
  width: 200px;
  height: 300px;
}

.movie {
  display: block;
  float: left;
  margin: 5px;
  text-decoration: none;
  color: gray;
}

.movieContainer {
  clear: both;
}
